*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#logo{
    font-family: "Lora", serif;
    font-weight: 600;
    font-size: 1.9rem;
}
body{
    font-family: 'poppins',sans-serif; 
}
h1{
    font-size: 1.72rem;
}
h2{
    font-size: 1.44rem;
}
h3{
    font-size: i.2rem;
}
h4{
    font-size: 1rem;
}
p{
    font-size: 1rem;
    line-height: 170%;
}
h1,h2,h3,h4{
    line-height: 120%;
}
.container{
    width: 100%;
    height: 100%;
    max-width: 1320px;
    padding: 0 1rem;
    margin-left: auto;
    margin-right: auto;
}
header{
    height: 25px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#homebutton{
    background-color: white;
    border: none;
}
nav{
    display: none;
}
section{
    padding-top: 4rem;
}
.blog{
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 0.5rem;
    background-color: rgb(47, 47, 185);
    color: white;
}
.blog img{
    width: 100%;
}
.blog p{
    font-size: 0.9rem;
}
.blogslist{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#Bbutton{
    height: 40px;
    width: 240px;
    border: 1px solid gray;
    border-radius: 0.5rem;
}


@media only screen and (min-width: 576px) {
   .blogslist{
    display: grid;
    grid-template-columns: 1fr 1fr;
   }
  }

@media only screen and (min-width: 768px) {
    .blogslist{
        grid-template-columns: 1fr 1fr 1fr;
       }
    #homebutton{
        display: none;
    }
    nav{
        display: block;
    }
    #navlist{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.4rem;
        list-style: none;
    }
    #navlist a {
        text-decoration: none;
    }
    #navlist a:hover{
        text-decoration: underline;
    }
  }

@media only screen and (min-width: 992px) {
    .blogslist{
        grid-template-columns: 1fr 1fr 1fr 1fr;
       }
    
  }

@media only screen and (min-width: 1200px) {
    .blogslist{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
       }
    h1{
        font-size: 2.98rem;
    }
    h2{
        font-size: 2.48rem;
    }
    h3{
        font-size: 2.07rem;
    }
    h4{
        font-size: 1.7rem;
    }
   
  }
.foot{
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: skyblue;
}
